.btn_menu{
    grid-area: btn_menu;
    background-color: var(--bg-dark);
}
.btn_menu button{
    display: none;
}
@media(max-width: 700px){
    .btn_menu button{
        display: block;
        width: auto;
        height: auto;
        color: black;
    }
    .btn_menu button i{
        font-size: 30px;
        width: 50px;
    }
    .btn_menu button i:hover{
        cursor: pointer;
    }
}