.form-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #0001;
    width: 60%;
    height: 50vh;
}
.form-sec .entrada{
    width: 45%;
    height: 15%;
    border-radius: 5px;
}
.form-sec .entrada:hover{
    border: 2px solid #0001;
}
.form-sec .entrada.endereco{
    width: 95%;
}
.form-sec .entrada.capacidade{
    width: 20%;
}
.form-sec .entrada.numero{
    width: 20%;
}
.form-sec .entrada label{
    margin-bottom: 10px;
}
.form-sec .entrada input, select, button{
    width: 100%;
    height: 100%;
    color: #0009;
    font-size: 1.1rem;
    outline: none;
    border: 0;
    border-radius: 5px;
}
.form-sec .entrada button{
    font-size: 1.3rem;
    font-weight: bold;
}
.form-sec .entrada button:hover{
    background-color: #0004;
    cursor: pointer;
}
@media(max-width: 860px){
    .form-sec{
        width: 100%;
    }
}