.navbar{
    grid-area: navbar;
    background-color: var(--bg-dark);
}
.menu_lateral{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    scroll-margin: 1px;
}
.menu_lateral i{
    padding-right: 25px;
    font-size: 1.2rem;
}
.menu_lateral::-webkit-scrollbar{
    width: 10px;
}
.menu_lateral::-webkit-scrollbar-thumb{
    background:  rgb(197, 196, 196);
    border-radius: 10px;
}
.menu_lateral .item_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_lateral .item_list:hover{
    cursor: pointer;
    background-color: rgb(207, 205, 205);
}
.menu_lateral .item_list div{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu_lateral .item_list .sub_menu{
    list-style: none;
    width: 100%;
} 
.menu_lateral .item_list .sub_menu li:hover{
    background-color: rgb(126, 126, 126);
}
.menu_lateral .item_list .sub_menu .link_nav{
    height: 60px;
    display: flex;
    align-items: center;
    color: rgb(41, 41, 41);
    padding-left: 40%;
    text-decoration: none;
}
.menu_lateral .item_list .sub_menu .link_nav i{
    padding-right: 25px;
}