.form_pes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #0001;
    width: 70%;
    height: 75vh;
}
.form_pes .entrada{
    width: 45%;
    height: 10%;
    border-radius: 5px;
}
.form_pes .entrada:hover{
    border: 2px solid #0001;
}
.form_pes .entrada.endereço{
    width: 95%;
}
.form_pes .entrada.div_button{
    width: 30%;
}
.form_pes .entrada label{
    margin-bottom: 10px;
}
.form_pes .entrada input, select, button{
    width: 100%;
    height: 100%;
    color: #0009;
    font-size: 1.1rem;
    outline: none;
    border: 0;
    border-radius: 5px;
}
.form_pes .entrada button{
    font-size: 1.3rem;
    font-weight: bold;
}
.form_pes .entrada button:hover{
    background-color: #0004;
    cursor: pointer;
}
@media(max-width: 700px){
    .form_pes{
        height: 100%;
        width: 100%;
    }
    .form_pes .entrada:hover{
        border: none;
    }
    .form_pes .entrada{
        width: 95%;
        padding: 5px 0px;
    }
}