.div_pesquisa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_pesquisa form{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}
.div_pesquisa form select{
    width: 200px;
    border: 1px solid rgb(83, 83, 83)
}
.div_pesquisa form input{
    height: 30px;
    width: 380px;
}
.div_pesquisa form button{
    height: 30px;
    width: 45px;
}
.div_pesquisa form button:hover{
    cursor: pointer;
}